.footer {
    display: block;

    width: 100vw !important;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 280px;
    
    z-index: 10000 !important;
    background-color: #25262b;

    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 200px;
}

.footer__column {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}

.footer__icon {
    display: block;
    left: 14px;
    height: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 10001 !important;
    pointer-events: none;
    filter: invert(1);
}

.footer__logo {
    display: block;
    height: 40px;
    margin-top: 20px;
    z-index: 10001 !important;
    width: 200px;
    margin-left: calc(50vw - 100px);
    pointer-events: none;
}

.footer__tabs {
    display: block;
    font-weight: 800;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 11px;
    top: 55px;
    z-index: 100001;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    width: 100vw;
    height: 40px;
    overflow-x: scroll;
    overflow-y: none;
    white-space: normal;
}

.footer__tabs__tab {
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 19px;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 12px;
    overflow-x: scroll;
}


@media screen and (min-width: 800px) {
    .footer {
        height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        padding-left: 20px;
        height: 100px;
    }
}