.tabs {
    margin-bottom: 40px;
    padding-left: 4px;
    padding-right: 2px;
    overflow-x: scroll;
    overflow-y: visible;
    border-radius: 5px;
    width: max-content;
    max-width: calc(100% - 10px) !important;
}


.tabs__tab {
    display: inline-block;
    font-family: 'Manrope';
    font-size: 15px;
    background: none;
    border: none;
    box-shadow: none;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 20px;
    outline: none;
    background-color: #f1f3f8;
    border: 1px solid #f1f3f8;
}

.tabs__tab--active {
    color: #25252c;
    border: 1px solid #25252c;
}

@media screen and (min-width: 1000px) { 

    .tabs {
        background-color: #ebebeb;
        border-radius: 40px;
        white-space: nowrap;
    }
    
    .tabs__tab {
        outline:none;
        font-size: 13px;
        background-color: transparent;
        margin-right: 2px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
    }

    .tabs__tab--active {
        border: none;
        background-color: white;
        box-shadow: 0px 0px 10px 10px #00000005;
    }

    .tabs__tab:hover {
        color: #444444;
        cursor: pointer;
        animation: addShadow 0.5s ease forwards;
    }
}