.alert__bg {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff23;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 20000;
    box-shadow: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.alert {
    width: calc(100% - 20px);
    animation: reveal 0.3s ease forwards;
    
    position: fixed;
    display: block;
    left: 10px;
    top: 40px;
    z-index: 20001;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 1000px 100px #0000004f;
    border: 1px solid #0000003b;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.alert__emoji {
    font-size: 60px;
    padding-bottom: 30px;
}

.alert__header {
    font-weight: 800;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.alert__text {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 700px) {
    .alert {
        position: fixed;
        display: block;
        width: 500px;
        left: calc(50% - 250px);
        box-shadow: 0px 10px 100px 10px #0000004f;
        overflow: visible;
    }

    .alert__text {
        padding-left: 30px;
        padding-right: 30px;
    }
    
}