.minik {
    height: 35px;
    width: 35px;
    margin-right: 25px;
    font-size: 10px;
    font-weight: 900;
    color: #91a1b6;
    background-color: white;
    margin-top: -10px;
    margin-left: -5px;
    letter-spacing: 0.1;
    font-family: 'Manrope';
    display: inline-block;
    border: none;
    box-shadow: none;
    border-radius: 23px;
}

.minik--active {
    background-color: #e9e9e9 !important;
}

@media screen and (min-width: 600px) {
    .minik {
        display: inline-block !important;
        vertical-align: top;
        margin-left: 15px;
        padding-right: 5px;
        margin-right: 10px;
        margin-bottom: 35px;
        height: 35px;
        width: 35px;
        outline: none;
    }

    .minik:hover {
        background-color: #e9e9e9 !important;
        cursor: pointer;
    }
}
